input:in-range{
    border: 2px solid green;
}
input:out-of-range{
    border: 2px solid red;
   
}

#div1 {
    background-color:hotpink;
    border: 2px solid black;
    height: 80px;
    width:150px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;

    
}
#div2 
 {
    background-color:lightcoral;
    border: 2px solid black;
    width:150px;
    align-items: center;
    display: flex;
    height: 80px;
 }

 div, input{
     margin: auto;
 }


























































































































































































































































































































































































































































































































































